# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Large datasets
database/CICIDS2017/
data/datasets/*.parquet

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log